.reset{
    display: none;
}
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: grey;
    width: 100vw;
    height: 100vh;
    color: white;
    text-shadow: 0 0 4px black;
}
.score{
    display: flex;
    justify-content: center;
}
.winnerDiv{
    display: flex;
    justify-content: center;
}
.playerSection{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    align-self: center;
}
.computeSection{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    align-self: center;

}

.choices{
    display: flex;
    width: 80vh;
    justify-content: space-around;
}
.playerImgs{
    display: flex;
    width: auto;
    justify-content: center;
    background: burlywood;
    padding: 20px;
    gap: 60px;
    width: 50%;

}
.computeImgs{
    display: flex;
    width: auto;
    justify-content: center;
    background: burlywood;
    padding: 20px;
    gap: 60px;
    width: 50%;
}
.active {
    width: 110px;
    height: 110px;
    border: 20px solid black;
  }
img {
    width: 90px;
    height: 90px;
  }
  .gameTitle{
      display: flex;
      justify-content: center;
  }